     body{
      margin:0px;
    }
    .main1 h1{
      margin:0px;
     
    }
    .name{
      position: absolute;
      top:50%;
     left:20%;
     font-size:large;
     font-style: italic;
     transform:translate(-50%,-50%);
    }
    .table{
      position:absolute;
      top:-15px;
      right:15px;
      font-size: large;
     /* transform: translate(-50%,-50%);*/
      display:inline-block;
      font-weight: bolder;
      color:rgb(88, 79, 79);
    }
    ul li{
      display:inline-block;
      padding:30px;
    }
  #home:hover{
      color:aqua;
    }
    #edu:hover{
      color:aqua;
    }
    #contact:hover{
      color:aqua;
    }
    #skills:hover{
      color:aqua;
    }
  
  
  
    #home{
      text-decoration: none;
      color:#ffff00;
      opacity: 0.8;
    }
    #edu{
      cursor:pointer;
      color:#ffff00;
      opacity: 0.8;}
     #skills{
      cursor:pointer;
      color:#ffff00;
      opacity: 0.8;}
   
     #contact{
      cursor:pointer;
      color:#ffff00;
      opacity: 0.8;}
   
    
    
      .main1 {
      height: 10vh;
      width: 100vw;
      background-color:dodgerblue;
      position: relative;
     
    }
    .main2{
      height: 80vh;
      width: 100vw;
      position: relative;
         }
         #img{
          height:100%;
          width: 100%;
         }
         .main21{
          position:absolute;
         /* color:rgb(78, 24, 83);*/
         color:white;
          top:100px;
          left:100px;
          font-size: large;
         }
         #h1{
          color:darkblue;

         }
         .main22{
          position:absolute;
         top:290px;
          left:100px;
         }
   .main22 button{
    width:130px;
    height:30px;
    font-size:larger;
    font-style: italic;
    border-radius:20px;
    background-color: black;
    color:white;
    cursor:pointer;
   }
   
   .main23{
          position:absolute;
         top:100px;
          right:200px;
          color:darkviolet;
         }
         
   .main24{
          position:absolute;
          top:150px;
          right:250px;
          padding:30px;
         
          display:none;
         }
         .main24 image{
         position:absolute;
         width:100%;
         height:100%;
         padding-right:30%;
         }
         #image1{
         position:absolute;
         width:100%;
         height:100%;
         padding:30px;
         
         }
         .main25{
          position:absolute;
          top:80px;
          right:80px;
          padding:30px;
         
         display:none;
         }
         .main25 h3{
          font-size: xx-large;
         }
         .sk{
          width:70px;
          height:70px;
         }
         .main26{
          position:absolute;
         top:100px;
          right:250px;
          color:rgb(12, 12, 12);
          display: none;
         }
         #scl{
          color:darkblue;
         }
         #clg{
          color:darkblue ;
         }
   
         
   
   
   
         
         .main3{
      height: 10vh;
      width: 100vw;
      position:relative;
      background-color:dodgerblue;
        /*color:white;*/
    }
    #email{
      position: absolute;
      bottom:8%;
     left:38%;
     font-size:25px;
    /* font-style: italic;
     transform:translate(-50%,-50%);*/
     text-align: center;
     color:rgb(88, 79, 79);
    }
    .main3 a {
     color:black; 
     text-decoration: none;
    }
  
  
  
  
  
  
   @media (max-width: 768px) {
      
      body{
        height:100vh;
        width:100vw;
        margin:0px;
        margin-left:10px;
        }
      
      
      
      
      
       .main1 {
      height:10vh;
      width:100vw;
      background-color:dodgerblue;
      position: relative;
     
    }
    .main2{
      height:80vh;
      width:100vw;
      position: relative;
         }
         #img{
          height:100%;
          width: 100%;
         }
           .main3 {
      height:10vh;
      width:100vw;
      background-color:dodgerblue;
      position: relative; } 
      .name{
      position: absolute;
      top:5vh;
     left:20vw;
     padding:10px;
     font-size:7px;
     font-style: italic;
    /* transform:translate(-50%,-50%);*/
    }
    .table{
      position:absolute;
      top:8px;
      right:1vh;
      font-size:8px;
     /* transform: translate(-50%,-50%);*/
      display:inline-block;
      font-weight: bolder;
      color:rgb(88, 79, 79);
    }
    ul li{
      display:inline-block;
      padding:7px;
    }
  
         .main21{
          position:absolute;
         /* color:rgb(78, 24, 83);*/
         color:white;
          top:10vh;
          left:2px;
          font-size:15px;
         }
         #h1{
          color:darkblue;

         }
         .main22{
          position:absolute;
         top:35vh;
          left:3px;
         }
   .main22 button{
    width:130px;
    height:30px;
    font-size:20px;
    font-style: italic;
    border-radius:20px;
    background-color: black;
    color:white;
    cursor:pointer;
   }
   
   .main23{
          position:absolute;
         top:40vh;
          right:2px;
          color:green;
         }
         
   .main24{
          position:absolute;
          top:45vh;
          right:25vw;
          padding:5px;
         
          display:none;
         }
         .main24 image{
         position:absolute;
         width:100%;
         height:100%;
         padding-right:20%;
         }
         #image1{
         position:absolute;
         width:100%;
         height:100%;
         padding:30px;
         
         }
         .main25{
          position:absolute;
          top:45vh;
          right:17vw;
          padding:10px;
         
         display:none;
         }
         .main25 h3{
          font-size: 10px;
         }
         .sk{
          width:30px;
          height:30px;
         }
         .main26{
          position:absolute;
         top:40vh;
          right:19px;
          color:rgb(12, 12, 12);
          display: none;
         }
         #scl{
          color:darkblue;
         }
         #clg{
          color:darkblue ;
         }
   
         #email{
      position: absolute;
      bottom:10px;
     left:30px;
     font-size:20px;
    /* font-style: italic;
     transform:translate(-50%,-50%);*/
     text-align: center;
     color:rgb(88, 79, 79);
    }
   
  
    
    
}
  </style>
